<!--
File name: index.ejs
Student’s Name: Ibrahim Goddi
StudentID: 301122092
Date: Oct 3, 2020
 -->
<!DOCTYPE html>
<html lang="en" xml:lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- The viewport meta tag is responsible for adapting the size of the GUI to the size of the device screen-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="COMP 229 Web Application- Assignment 1- Ibrahim Goddi- 301122092" />
    <meta name="author" content="Ibrahim Goddi" />
    <title><%= title %></title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico"/>
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.13.0/javascripts/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/stylesheets/theme.css" rel="stylesheet" />
  </head>
  <body id="page-top">
    <%- include('partials/header') %>
    <!-- Masthead-->
    <header class="masthead">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <h1 class="mx-auto my-0 text-uppercase" style="font-size:x-large"><%= title %></h1>
          <h2 class="text-white-50 mx-auto mt-2 mb-5">Welcome to <%= title %></h2>
          <h2 class="text-white-50 mx-auto mt-2 mb-5">To give guests the most compelling experience.</h2>
          <a class="btn btn-primary js-scroll-trigger" href="#about">Get Started</a>
        </div>
      </div>
    </header>
    <!-- About-->
    <section class="about-section text-center" id="aboutme">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-white mb-4">Ibrahim Goddi</h2>
            <p class="text-white-50">
              My name is Ibrahim Goddi. I am 24 years old and I am enrolled in the Software Engineering program. Please
              find my resume in the following link: https://we.tl/t-1LA0jinnkx
            </p>
          </div>
        </div>
        <img class="img-fluid" src="/images/me.png" alt="Ibrahim Goddi" style="width: 350px" />
      </div>
    </section>
    <%- include('partials/content') %>
    <!-- Contact-->
    <section class="contact-section bg-black" id="contactme">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Address</h4>
                <hr class="my-4" />
                <div class="small text-black-50">33 Isabella Street, Toronto ON</div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-envelope text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Send me a message</h4>
                <hr class="my-4" />
                <div class="small text-black-50"><a href="/contact" target="_blank">Click Here!</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Phone</h4>
                <hr class="my-4" />
                <div class="small text-black-50">+1 (437) 984-2129</div>
              </div>
            </div>
          </div>
        </div>
        <div class="social d-flex justify-content-center">
          <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
          <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
          <a class="mx-2" href="#!"><i class="fab fa-github"></i></a>
        </div>
      </div>
    </section>
    <%- include('partials/footer') %>
    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/javascripts/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Core theme JS-->
    <script src="javascripts/scripts.js"></script>
  </body>
</html>
